<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos1.css">   
     <title>Ejercicio2</title>
    <link rel="icon" type="image/x-icon" href="../assets/Icono7.ico"/>
</head>
<body> 
    <div class="ejer">
       <center> <h1>Temperatura</h1></center>
        <div class="cuadro">
            <input type="number" id="v" >
    </div>
    <div class="principal">
<div>
    <span>Vas a convertir de:</span>
    <select name="valo1"id="valor1">
    <option value="">Elegir</option>
    <option value="Fahrenheit">Fahrenheit</option>
    <option value="Celsius">Celsius</option>
    <option value="Kelvin">Kelvin</option>
</select>

<span>Deseas convertir a:</span>
<select name="valor2"id="valor2">
    <option value="">Elegir</option>
    <option value="Fahrenheit">Fahrenheit</option>
    <option value="Celsius">Celsius</option>
    <option value="Kelvin">Kelvin</option>
</select>
</div>
  
  
</div>
  
</div>

<script src="../js/ejercicio2.js"></script>
   

               
        
        
</body>
</html>