<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos1.css">
    <script src="../js/ejercicio1.js"></script>
    <title>Ejercicio1</title>
</head>
<body>
    <div class="ejer">
        <div class="cuadro">
        <input id="p">
    </div>
    <div class="principal">
       
    <div><button   class="m"  onclick="lon();">Longitud</button></div>
          <div> <button class="m" onclick="mayus();">MAYUSCULA</button></div>
          <div><button class="m" onclick="minus();">MINUSCULA</button></div> 
          <div> <button class="m" onclick="primero();">PRIMER CARACTER</button></div>   
        </div>
    </div>
          
               
        
        
</body>
</html>