<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos1.css">   
     <title>Ejercicio4</title>
    <link rel="icon" type="image/x-icon" href="../assets/Icono7.ico"/>
</head>
<body> 
    <div class="ejer">
       <center> <h1>Instructores</h1></center>
        <div class="cuadro">
    </div>
    <div class="principal">
<div>
    <span>Nombres:</span>
    <select name="valo1"id="valor1">
    <option value="">Elegir</option>
    <option value="Carolina">Carolina</option>
    <option value="Adriana">Adriana</option>
    <option value="Tatiana">Tatiana</option>
    <option value="Fernando">Fernando</option>
    <option value="Jhonatan">Jhonatan</option>
    <option value="Luis">Luis</option>
    <option value="Yaneth">Yaneth</option>
</select>

<span>Apellidos:</span>
<select name="valor2"id="valor2">
    <option value="Forero">Forero</option>
    <option value="Duarte">Duarte</option>
    <option value="Cabrera">Cabrera</option>
    <option value="Galindo">Galindo</option>
    <option value="Espitia">Espitia</option>
    <option value="Baquero">Baqueros</option>
    <option value="Castillo">Castillo</option>  
</select>

<span>Actividades:</span>
<select name="valor3"id="valor3">
    <option value="">Elegir</option>
    <option value="Seg">Seg proyecto</option>
    <option value="Diseño">Diseño</option>
    <option value="Calidad">Calidad</option>
    <option value="Bd">Base datos</option>
    <option value="Php">Php</option>
    <option value="Cultura">Cultura Fisica</option>
    <option value="Gestion">Gestion ambiental</option>
    <option value="Front">Front end</option>
</select>
</div>
  
  
</div>
  
</div>

<script src="../js/ejercicio4.js"></script>
   

               
        
        
</body>
</html>