<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos1.css">   
     <title>Ejercicio3</title>
    <link rel="icon" type="image/x-icon" href="../assets/Icono7.ico"/>
</head>
<body> 
    <div class="ejer">
       <center> <h1>Triangulo</h1></center>
       
    <div class="principal">
<div class="fila">
  <span>Ingrese el valor del primer lado:</span>
    <input type="number" name="valor1"id="valor1">
<br>
    <span>Ingrese el valor del segundo lado:</span>
    <input type="number" name="valor2"id="valor2">
<br>
    <span>Ingrese el valor del tercer lado:</span>
    <input type="number" name="valor3"id="valor3">
<br>
    <center><button class="n" onclick="tipo();">tipo</button></center>
</div>

</div>
        </div>


<script src="../js/ejercicio3.js"></script>
   

               
        
        
</body>
</html>